<!DOCTYPE html>


<html lang='en'>


    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Error while loading the content</title>
    </head>


    <body>
        <div class="header">
            <h1>Error while loading the content</h1>
        </div>

        <div class="section">
            <h2> Please try again reloading the website</h2>
        </div>
       
    </body>

</html>